@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --bg-color: #DDE3E6;
    --output-color: #788e9b;
    --equal-btn: #FC6464;
    /* --buttons-color: #96A6AC;
    --box-shadow-color: #CAB9B9; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 294px;
    height: 465px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
}

#calculator .display {
    flex: 0.3;
    background-color: var(--output-color);
    position: relative;
}

#calculator .display #output {
    margin-top: 3rem;
    height: 2rem;
    width: 100%;
    padding: 0px 1rem;
    text-align: right;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 900;
    outline: none;
    border: none;
    pointer-events: none;
    background-color: var(--output-color);
}

#calculator .display .current-operator {
    position: absolute;
    bottom: 55px;
    right: 30px;
    color: #fff;
    font-weight: 300;
}

#calculator #buttons {
    flex: 0.7;
    background-color: royalblue;
    display: flex;
    flex-wrap: wrap;
}

#calculator #buttons button {
    width: 73.5px;
    height: 73.5px;
    font-size: 16px;
    color: #808080;
    cursor: pointer;
}


#calculator #buttons .operator,
#calculator #buttons .utility-btn {
    background-color: var(--bg-color);
    transition: background-color 0.2s ease-in-out;
}

#calculator #buttons .operator:hover,
#calculator #buttons .utility-btn:hover {
    background-color: #cfd6da;
    color: var(--output-color)
}

#calculator #buttons .utility-btn {
    border: none;
    border-right: 1px solid #fff;
}

#calculator #buttons .operator {
    border:none;
    border-bottom: 1px solid #fff;
    transition: background-color 0.2s ease-in-out;
}

#calculator #buttons .numbers {
    border: none;
    outline: none;
    background-color: #fff;
    transition: background-color 0.1s ease-in-out;
}

#calculator #buttons .numbers[data-value="."] {
    font-size: 5px;
}
#calculator #buttons .numbers:hover {
    background-color: rgb(245, 243, 243);
}

#calculator #buttons .equal {
    background-color: var(--equal-btn);
    border: none;
    color: #fff !important;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(1.15);
    transition: background-color 0.2s ease-in-out;
}

#calculator #buttons .negative-value {
    border: none;
    background-color: #fff;
    transition: background-color 0.1s ease-in-out;
}
#calculator #buttons .negative-value:hover {
    background-color: rgb(245, 243, 243);
}

#calculator #buttons .equal:hover {
    background-color: #f15454;
}

#calculator #buttons button:active:not(.equal) {
    background-color: rgb(211, 233, 233);
}

#calculator #buttons .equal:active {
    background-color: #e25050
}


